.left-layout__main .unstyled > li {
  position: relative;
}

.gh-repo-anchor {
  display: block;
  position: absolute;
  top: 0;
  right: -65px;
  margin: 0;
  min-width: 65px;
  height: 100%;
  background: #d3d3d3;
}

a.gh-repo-anchor::after {
  display: none;
}

.gh-repo-anchor:hover,
.gh-repo-anchor:focus {
  text-decoration: none;
  background: #d3d3d3;
}

.gh-repo-card {
  margin: 0;
  list-style: none;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.gh-repo-card .gh-item {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  border: none;
  width: 100%;
}

.gh-repo-card .gh-item .fa {
  margin-right: 5px;
}
