.left-layout__main .unstyled > li {
  position: relative;
}

.gh-repo-anchor {
  display: block;
  color: #383838 !important;
  position: absolute;
  top: 0;
  right: -5em;
  margin: 0;
  min-width: 5em;
  height: 100%;
  border-top-right-radius: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
  border-bottom-right-radius: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
  background: #edebdd;
}

.gh-repo-anchor:hover,
.gh-repo-anchor:focus {
  text-decoration: none;
  background: #edebdd;
}

.gh-repo-anchor.error {
  border: 1px solid red;
}

.gh-repo-anchor.loading {
  cursor: wait;
}

a.gh-repo-anchor::after {
  display: none;
}

.gh-repo-card {
  margin: 0;
  list-style: none;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  /* crate override */
  padding-inline-start: 0;
}

.gh-repo-card .gh-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size, 16px);
  border: none;
}

.gh-repo-card .gh-item .icon {
  margin-right: 5px;
}

.gh-repo-card .gh-item .icon svg {
  width: var(--size, 16px);
  height: var(--size, 16px);
  color: #333333;
}
